<!DOCTYPE html>
<html>
  <head>
    <title>{{ site_title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/css/style.css">
    <script src="/static/vendor/jquery-1.9.1.js"></script>{% block scripts %}        
    {% endblock %}
  </head>
  <body>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <button type="button" data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="brand">{{ site_title }}</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="#">Explore</a></li>
            <li><a href="#">My Dashboard</a></li>
          </ul>
          <button type="submit" class="btn pull-right">Sign In</button>
          <form id="search-bar" class="navbar-form form-search pull-right">
            <div class="input-append">
              <input type="search" placeholder="Find a Trail" class="search-query">
              <button type="submit" class="btn">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>{% block content %}
    {% endblock %}
    {% block bodyScripts %}
    {% endblock %}<!--/ Do we need a footer?
    <div class="container">
      <footer>
        <hr>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>Copyright 2013 Clark Canyons, Inc.</p>
      </footer>
    </div>-->
  </body>
</html>