{% extends "trailguide/base.html" %}

{% block bodyScripts %}
script(src="/static/vendor/leaflet-0.5.1/leaflet-src.js")
script(src="/static/vendor/underscore-1.4.4.js")
script(src="/static/vendor/backbone-1.0.js")
script(src="http://maps.stamen.com/js/tile.stamen.js?v1.2.1")
script(src="/static/scripts/js/map-app.js")
{% endblock %}

{% block content %}
#map
{% endblock %}